@import "../../mixins.scss";

.section {
    position: relative;
    width: 100vw;
    width: 100dvw;
    height: 150vh;
    height: 150dvh;

    .container {
        position: sticky;
        top: 0;
        height: 100vh;
        height: 100dvh;
        padding: 64px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            cursor: pointer;
            font-size: 12rem;
            text-align: center;
            line-height: 140%;
            vertical-align: center;
            writing-mode: vertical-lr;
            text-orientation: upright;
            margin: 0 6px 14px 0;
            letter-spacing: -2rem;
            white-space: nowrap;

            @include mobile {
                font-size: 8rem;
                margin: 0 6px 16px 0;
            }

            & span {
                display: inline-block;
                transition: all .2s ease;
                text-shadow: 5px 5px 0 var(--stone-300);

                &:hover {
                    color: var(--stone-300);
                    text-shadow: 5px 5px 0 var(--grey-400);
                }
            }

            &.open {

                & span {

                    &:first-child {
                        transform: translateY(340%);
                    }

                    &:last-child {
                        transform: translateY(-340%);
                    }
                }
            }
        }
    }
}