.container {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    .canvas {
        height: 100%;
        width: 100%;
    }
}